.navbar {
    height: 70px;
    background-color: #f9f9f9;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #00205b;
  }
  
  .trans-navbar {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    opacity: 0%;
  }

  .logo-container > img {
    max-height: 100%;
    width: 68px;
    position: static;
    float: none;
  }
  
  .left-link-container {

  }
  
  .right-link-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
  }
  
  .link-container {
    display: inline-block;
    height: 100%;
    font-family: 'Open Sans';
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin: 0 23px;
  }
  
  .link-container > div {
    display: table;
    height: 100%;
  }
  
  .link-container > div > div {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
  
  .link-container > div {
    border-bottom: 4px solid rgba(0, 0, 0, 0);
  }